.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}

main {
  width: 100%;
  height: 200px;
  margin: 50px auto;
}

@media (min-width: 500px) {
  main {
    max-width: 400px;
  }
}

label {
  padding-top: 0.5em;
  display: block;
}
